body {
	background: #f6f6f6;
}

div.vote-box {
	padding: 3% 0 0% 0;
	overflow: hidden;
	position: relative;
}

div.vote-box div.time-box {
	float: left;
	width: 20%;
}

div.time-box p {
	text-align: center;
}

div.time-box p.date {
	font-size: 1.2em;
	color: #dbdbdb;
	line-height: 1.8em;
	z-index: 1;
	font-weight: 700;
	background: #F6F6F6;
}

div.time-box p.icon {
	display: block;
	background: #AAAAAA;
	border-radius: 50%;
	height: 3.8em;
	width: 3.8em;
	z-index: 2;
	margin: 1em auto 0;
	box-shadow:0 1px 1px #666;
}

div.line-wrap div.line {
	border: 1px solid #DDD;
	width: 0;
	height: 100%;
	margin: 0 auto;
}

a.main {
	display: block;
	background: #AAA;
	color: #FFF;
	padding: 1.4em 1.8em 1.2em 1.2em;
	border-radius: .8em 0 0 .8em;
	margin: 0 0 1em 0;
	min-height: 4em;
	box-shadow: 2px 1px 2px #585858;
}

div.active a.main {
	background: #e38055;
}

a.main  h2 {
	font-size: 1.5em;
	line-height: 1.4em;
	font-weight: 700;
	margin: 0 0 .4em;
}

div.active a.main  h2 {
	
}

a.main  p.winner {
	line-height: 1.4em;
	font-weight: 700;
	font-size: 1.2em;
	color: #dbdbdb;
}

div.active a.main  p.winner {
	color: #FFF;
}

div.info-box {
	float: left;
	width: 80%;
	padding: 7% 0 2% 0;
}

div.info-box p.my-choice {
	background: #AAA;
	color: #EBEBEB;
	font-size: 1em;
	line-height: 2em;
	padding: 0 5%;
	border-radius: .3em;
	box-shadow: 1px 1px 1px #585858;
	display: inline-block;
}

div.line {
	position: fixed;
	z-index: 0;
	width: 10%;
	border-right: 1px solid #DDD;
}