@CHARSET "UTF-8";

body {
	background: #f6f6f6;
	overflow: hidden;
}

header {
	padding: 10% 8% 8%;
	min-height: 15%;
}

header p {
	font-size: 1.2em;
	color: #AAA;
	font-weight: 700;
}

header p.date {
	
}

header h1 {
	padding: 4% 0;
	font-size: 2em;
}

header p.leftTime {
	
}

article {
	position: relative;
	overflow: hidden;
	height: 60%;
}

article div.answer-wrap {
	float: left;
	width: 49%;
	height: 100%;
}

article div.w-left {
	padding: 0 1% 0 0;
}

article div.w-right {
	padding: 0 0 0 1%;
}

article ul {
	background: #9E751C;
	position: relative;
	height: 100%;
}

article ul.higher {
	background: #F3C156;
}

article p.or {
	position: absolute;
	display: block;
	width: 100%;
	top: 6em;
	left: 0;
}

article p.or span {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 3em;
	color: #999;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	background: #f6f6f6;
	width: 3em;
	height: 3em;
}

article ul li {
	text-align: center;
}

article ul li.icon {
	padding: 32% 0 1% 0;
}

article ul li svg {
	
}

article ul li svg.svg-color {
	
}

article ul li.answer {
	font-size: 2.4em;
	padding: 0 0 30% 0;
	color: #FFF;
	font-weight: 700;
}

article ul li.vote-count {
	color: #FFF;
	font-size: 1.2em;
}

article ul li.vote-rate {
	color: #FFF;
	font-size: 2.5em;
	padding: 3% 0;
	font-weight: 700;
}

article ul li.my-choice {
	display: block;
	height: 2em;
	background: #FFFFFF;
	color: #666;
	font-size: 1em;
	width: 5em;
	line-height: 1.8em;
	border-radius: .5em;
	margin: 5% auto 0;
}

li.my-choice i {
	
}

li.my-choice b {
	
}

li.my-choice span {
	position: relative;
	top: 0.1em;
	font-weight: 700;
}

footer {
	
}