<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%-5p][%t] %m (%C:%F:%L) %n" />
		</Console>

		<RollingRandomAccessFile name="allFile"
			fileName="logs/search-page/all.log"
			filePattern="logs/search-page/$${date:yyyy-MM}/all-%d{yyyy-MM-dd}-%i.log.gz"
			immediateFlush="false" append="true">
			<PatternLayout pattern="%d [%-5p][%t] %m %throwable{full} (%C:%F:%L) %n"
				charset="UTF-8" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="24" />
				<SizeBasedTriggeringPolicy size="500 MB" />
			</Policies>
		</RollingRandomAccessFile>

	</Appenders>


	<Loggers>

		<AsyncLogger name="com.bubugao" includeLocation="true"
			additivity="true" level="info">
			<AppenderRef ref="allFile" />
		</AsyncLogger>
		<AsyncLogger name="com.yunhou" includeLocation="true"
			additivity="true" level="info">
			<AppenderRef ref="allFile" />
		</AsyncLogger>

		<Root level="info">
			<AppenderRef ref="console" />
		</Root>

	</Loggers>
</Configuration>
