<!DOCTYPE html>
<html xmlns:svg="http://www.w3.org/2000/svg">
<head>
<title>投票结果</title>
<meta charset="utf-8">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,address=no">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/vote_list_base2.css">
<script src="http://o7pmdbbe0.bkt.clouddn.com/js/framework/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
$(function(){
	var $wh = $(window).height();
	$("div.line").css("height",$wh+"px");
});
</script>
</head>
<body>
<div class="line"></div>
<#list voteList as voteItem>
	<#if voteItem_index == 0>
	<div class="vote-box active">
	<#else>
	<div class="vote-box">
	</#if>
		<div class="time-box">
			<p class="date">${voteItem.startDateForView}</p>
			<p class="icon-wrap">
				<span>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" width="33" height="33">
						<path fill="#FFF" d="M395.508 312.5v-41.992h-41.016v41.992h41.016zM395.508 395.508v-41.016h-41.016v41.016h41.016zM270.508 145.508v-41.016h-41.016v41.016h41.016zM270.508 229.492v-41.992h-41.016v41.992h41.016zM270.508 312.5v-41.992h-41.016v41.992h41.016zM270.508 395.508v-41.016h-41.016v41.016h41.016zM145.508 229.492v-41.992h-41.016v41.992h41.016zM145.508 312.5v-41.992h-41.016v41.992h41.016zM145.508 395.508v-41.016h-41.016v41.016h41.016zM312.5 229.492h125v208.008h-375v-291.992h125v-41.016l62.5-62.5 62.5 62.5v125z" style=""></path>
					</svg>
				</span>
			</p>
		</div>
		<div class="info-box">
			<#if voteItem.voteId??>
			<a class="main" href="/vote/detail?voteId=${voteItem.voteId}&userId=${userId}">
			<#else>
			<a class="main" href="javascript:void(0);">
			</#if>
				<h2>${voteItem.voteQuestion}</h2>
				<#if voteItem.winnerAnswer??>
					<p class="winner">${voteItem.winnerRate}%选择了“${voteItem.winnerAnswer}”</p>
				</#if>
			</a>
			<#if voteItem.userChoice??>
			<p class="my-choice">我选择了“${voteItem.userChoice}”</p>
			</#if>
		</div>
	</div>
</#list>
</body>
</html>