<!DOCTYPE html>
<html xmlns:svg="http://www.w3.org/2000/svg">
<head>
<title>投票结果</title>
<meta charset="utf-8">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,address=no">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/yubo-wechat-api/css/reset.css">
<link rel="stylesheet" href="/yubo-wechat-api/css/vote_list_base.css">
</head>
<body>
	<ul class="active">
		<li class="icon">?</li>
		<li class="date">5.23</li>
		<li class="main-info">
			<h2>你希望YUBO童年是怎样的？</h2>
			<p>82% 选择了“热闹”</p>
		</li>
		<li class="choice">你选择了"安静"</li>
	</ul>
	<ul>
		<li class="icon">?</li>
		<li class="date">5.23</li>
		<li class="main-info">
			<h2>你希望YUBO童年是怎样的？</h2>
			<p>82% 选择了“热闹”</p>
		</li>
		<li class="choice">你选择了"安静"</li>
	</ul>
	<ul>
		<li class="icon">?</li>
		<li class="date">5.23</li>
		<li class="main-info">
			<h2>你希望YUBO童年是怎样的？</h2>
			<p>82% 选择了“热闹”</p>
		</li>
		<li class="choice">你选择了"安静"</li>
	</ul>
	<ul>
		<li class="icon">?</li>
		<li class="date">5.23</li>
		<li class="main-info">
			<h2>你希望YUBO童年是怎样的？</h2>
			<p>82% 选择了“热闹”</p>
		</li>
		<li class="choice">你选择了"安静"</li>
	</ul>
</body>
</html>