<html>
<head>
<link rel="stylesheet" type="text/css"
	href="http://o7pmdbbe0.bkt.clouddn.com/css/easyui/material/easyui.css">
<link rel="stylesheet" type="text/css"
	href="http://o7pmdbbe0.bkt.clouddn.com/css/easyui/icon.css">
<link rel="stylesheet" type="text/css"
	href="http://www.jeasyui.net/Public/js/easyui/demo/demo.css">
<script type="text/javascript"
	src="http://www.jeasyui.net/Public/js/jquery.js"></script>
<script type="text/javascript"
	src="http://o7pmdbbe0.bkt.clouddn.com/js/easyui/jquery.easyui.min.js"></script>
<script>
	var str='<script type="text/javascript" src="http://o7pmdbbe0.bkt.clouddn.com/js/yubo/vote-mgr.js?v='+Math.random()+'"><\/script>';
	document.write(str);
</script>
</head>

<body>
	<div id="#center-box" data-options="region:'center',title:'工作区'"
		style="padding: 10px 25px;">
		<h2>投票管理</h2>

		<table id="dg" title="投票管理" style="width: auto; height: 450px"
			data-options=
			"singleSelect:true,
			pagination:true,
			pageList:[5,10,20],
			pageSize:5,
			url:'/home/vote/load',
			method:'get',
			fitColumns:'true',
			toolbar:'#toolbar'">
			<thead>
				<tr>
					<th field="voteId" width="40" sortable="true">投票ID</th>
					<th field="voteTitle" width="50" align="center">标题</th>
					<th field="voteQuestion" width="120">问题</th>
					<th field="voteAnswer" width="120" align="center"
						formatter="formatAnswer">答案</th>
					<th field="activeDate" width="50" align="center"
						formatter="formatDate" sortable="true">激活日期</th>
					<th field="colorStyle" width="80" align="center">色彩方案</th>
				</tr>
			</thead>
		</table>
		<div id="toolbar">
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-add" plain="true" onclick="newVote()">添加</a> <a
				href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-edit" plain="true" onclick="editVote()">修改</a> <a
				href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-edit" plain="true" onclick="deleteVote()">删除</a>
		</div>

		<div id="dlg" class="easyui-dialog"
			style="width: 780px; height: auto; padding: 10px 20px" closed="true"
			buttons="#dlg-buttons" enctype="application/x-www-form-urlencoded">
			<form id="fm" method="post" novalidate>
				<div class="fitem">
					<label>标题:</label> <input name="voteTitle" class="easyui-textbox"
						style="width: 200px; height: 26px;"
						data-options="prompt:'20字之内，暂时不展示，用来搜索',required:true,validType:{length:[0,20]},validateOnCreate:false,validateOnBlur:true">
				</div>
				<div class="fitem">
					<label>问题:</label> <input name="voteQuestion"
						class="easyui-textbox" style="width: 300px; height: 26px;"
						data-options="prompt:'投票问题内容，不超过30个字',required:true,validType:{length:[0,30]},validateOnCreate:false,validateOnBlur:true">
				</div>
				<div class="fitem">
					<label>激活日期:</label> <input id="voteDate" name="voteDate" class="easyui-datebox"
						style="width: 160px; height: 26px" data-options="formatter:myformatter,parser:myparser,required:true" >
				</div>

				<div class="fitem">
					<label>答案1:</label> <input name="voteAnswerOneDiscription"
						class="easyui-textbox" style="width: 200px; height: 26px;"
						data-options="prompt:'描述，不超过20个字',required:true,validType:{length:[0,20]},validateOnCreate:false" />
					<input name="voteAnswerOneKey" class="easyui-textbox"
						style="width: 160px; height: 26px;"
						data-options="prompt:'投票关键字，不超过4个字',required:true,validType:{length:[0,4]},validateOnCreate:false" />
					<a href="javascript:void(0)" class="easyui-linkbutton c6"
						onclick="newSvgSelect(this)" style="width: 90px" iconIdx="1">图标</a>
					<span class="icon-preview-1"></span> <input id="iconOne"
						name="voteAnswerOneIconId" type="hidden" />
				</div>

				<div class="fitem">
					<label>答案2:</label> <input name="voteAnswerTwoDiscription"
						class="easyui-textbox" style="width: 200px; height: 26px;"
						data-options="prompt:'描述，不超过20个字',required:true,validType:{length:[0,20]},validateOnCreate:false" />
					<input name="voteAnswerTwoKey" class="easyui-textbox"
						style="width: 160px; height: 26px;"
						data-options="prompt:'投票关键字，不超过4个字',required:true,validType:{length:[0,4]},validateOnCreate:false" />
					<a href="javascript:void(0)" class="easyui-linkbutton c6"
						onclick="newSvgSelect(this)" style="width: 90px" iconIdx="2">图标</a>
					<span class="icon-preview-2"></span> <input id="iconTwo"
						name="voteAnswerTwoIconId" type="hidden" />
				</div>
				<input type="hidden" name="voteId" />
			</form>
		</div>


		<div id="svgDlg" class="easyui-dialog"
			style="width: 800px; height: auto; padding: 10px 20px" closed="true"
			buttons="#svgDlg-buttons" enctype="application/x-www-form-urlencoded">
			<table id="svgTb" title="本窗口第一次打开的时候会出现布局错乱的情况，请点击“取消”后重新打开一次即可"
				style="width: auto; height: 450px" class="easyui-datagrid"
				data-options="pagination:true,showPageList:false,showRefresh:false,url:'/svg/load/select',method:'get',fitColumns:'true',onClickCell:svgIconClick">
				<thead>
					<tr>
						<th field="svgOne" width="100px" formatter="formatSVG"
							align="center"></th>
						<th field="svgTwo" width="100px" formatter="formatSVG"
							align="center"></th>
						<th field="svgThree" width="100px" formatter="formatSVG"
							align="center"></th>
						<th field="svgFour" width="100px" formatter="formatSVG"
							align="center"></th>
						<th field="svgFive" width="100px" formatter="formatSVG"
							align="center"></th>
						<th field="svgSix" width="100px" formatter="formatSVG"
							align="center"></th>
						<th field="svgSeven" width="100px" formatter="formatSVG"
							align="center"></th>
						<th field="svgEight" width="100px" formatter="formatSVG"
							align="center"></th>
						<th field="svgNine" width="100px" formatter="formatSVG"
							align="center"></th>
						<th field="svgTen" width="100px" formatter="formatSVG"
							align="center"></th>
					</tr>
				</thead>
			</table>
		</div>


		<div id="dlg-buttons">
			<a href="javascript:void(0)" class="easyui-linkbutton c6"
				iconCls="icon-ok" onclick="saveVote()" style="width: 90px">保存</a> <a
				href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')"
				style="width: 90px">取消</a>
		</div>

		<div id="svgDlg-buttons">
			<a href="javascript:void(0)" class="easyui-linkbutton c6"
				iconCls="icon-ok" onclick="chooseSvg()" style="width: 90px">选择</a> <a
				href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-cancel"
				onclick="javascript:$('#svgDlg').dialog('close')"
				style="width: 90px">取消</a>
		</div>
	</div>

</body>
</html>

<style type="text/css">
#fm {
	margin: 0;
	padding: 10px 30px;
}

.ftitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.fitem {
	margin-bottom: 10px;
}

.fitem label {
	display: inline-block;
	width: 80px;
}

.fitem input {
	width: 160px;
}

#center-box {
	padding: 20px;
}

.datagrid-cell-c1-voteQuestion {
	white-space: normal;
}

.textbox-invalid {
	box-shadow: 0 0 2px #FF0B0B;
}

#svgDlg .datagrid-row-over {
	background-color: #FFF;
	color: #000;
}

#svgDlg td:hover {
	cursor: pointer;
	background-color: #E2E2E2;
}

#svgDlg .datagrid-row-selected {
	background-color: #FFF;
	color: #000;
}
</style>
